/* General setup */
@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
}*/
header{font-family: montserratbold, monospace;}
.barTitle{font-family: montserratbold, monospace;}
.navL{font-family: montserratbold, monospace;}
.text{ font-family: montserratregular, monospace; }

p{font-family: montserratbold, monospace;}
h2{font-family: montserratbold, monospace;}
footer p{font-family: montserratregular, monospace;}


